/* bg-scolors ****************/

$bg: #202124;
$alt-bg: #ce181e;

/* colors ****************/
$color: blue;
$alt-color: green;

/* Font-colors ****************/
$text: #bdc1c6;
$alt-text: #8ab4f8;
$main-text: #49c0b6;

/* Sizes-margin ****************/
$xl-mg: 3.5rem;
$lg-mg: 2rem;
$md-mg: 1.5rem;
$sm-mg: 1.125rem;
$tiny-mg: 0.5rem;

/* Sizes-padding ****************/
$lg-pd: 1.4em 3em;
$md-pd: 0.8em 1.6em;
$sm-pd: 0.4em 0.8em;

/* other ****************/
$radius: 15px;

/* spacing ****************/
$sp-1: 4rem;
$sp-2: 3.2rem;
$sp-3: 2.5rem;
$sp-4: 1.8rem;
$sp-5: 1.2rem;
$sp-6: 0.6rem;
