@use "./sass"as *;

// ===========================================================================================
// General styles =============================
body {
    padding: 2.5rem;
}

p {
    font-size: 1rem;
}

h3 a,
figcaption {
    color: $alt-text;
    font-weight: 400;
    font-size: 1.25rem;
    border: .5px solid gray;
}

a:hover {
    text-decoration: underline;
}

// ===========================================================================================
// Header styles =============================
* {}

.header {
    border-bottom: .5px solid red;

    &__upper {
        @include flex;

        .search {
            border: 2px solid red;
            @include flex;
            height: 2.5rem;
            max-width: 33rem;
            padding-inline: $sp-6;
            // overflow: hidden;

            input {
                height: 100%;
                background: none;
            }

            &__icons {
                @include flex;
                height: 100%;

                & > * {
                    width: 1.5rem;
                }
            }
        }
    }

    &__lower {
        nav {
            @include flex(start);
        }
    }
}

// ===========================================================================================
// Results  styles =============================
main {
    
    max-width: 1200px;
    margin-inline: auto;
    & > p {
        padding-top: $sp-5;
    }
}

.results {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding-top: $sp-6;

    &__left {

        & > *:not(:last-child) {
            margin-bottom: $sp-3;
        }

        .result {
            p:last-child {
            margin-top: $sp-6;
                max-width: 60%;
            }
        }
    }
    
    &__right {
        border: 1px solid gray;
        
        .imgs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items:  stretch;
//            justify-items: stretch;
//            border: 1px solid blue;
            
            & :first-child {
                grid-row: 1/3;
//                justify-self: center;
            border: 1px solid blue;
            }
        }
        
        .title {
            padding: $sm-pd;
            border-bottom: 1px solid gray;
        }
        
        .desc {
            padding: $sm-pd;
        }
    }
}

// ===========================================================================================
// Header styles =============================
